{% extends 'blog/base.html' %}

{% block content %}

    <div id="content">
        <h1>게시물 검색</h1>

        <form method="post">
            {% csrf_token %}
            {{ form.as_table }}
            <input type="submit" value="검색">
        </form>

        <br><br>

        {% if object_list %}
            {% for post in object_list %}
                <h2><a href="{{ post.get_absolute_url }}">{{ post.id }}.&nbsp;{{ post.post_title }}(작성자:{{ post.writer }})</a></h2>
                {{ post.post_date| date:'Y년  N d일 a f' }}
                <br><br>
                <p>{{ post.post_contents|safe }}</p>
                <hr>
            {% endfor %}
        {% elif search_term %}
            <b><i>검색한 '{{ search_term }}'결과를 찾지 못했습니다. </i></b>
        {% endif %}
    </div>

{% endblock %}